.header {
  margin: 16px 112px 0 112px;

  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1216px;
    height: 68px;
    margin-bottom: 16px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navLink {
    margin-right: 30px;
    padding: 0 2px;
  }

  .btnWrap {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
}