@import '../variables.module.scss';

.pricing {
  padding: 96px;

  .title {
    font-weight: $font-semi-bold;
    font-size: 16px;
    line-height: 24px;
    color: #4338CA;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .headerTitle {
    font-weight: $font-semi-bold;
    font-size: 48px;
    line-height: 48px;
    color: #171717;
    margin: 0 40px 20px 40px;
    text-align: center;
  }

  .headerSubtitle {
    font-weight: $font-regular;
    font-size: 20px;
    line-height: 28px;
    color: #525252;
    text-align: center;
    margin: 0px 160px 64px 160px;
  }

  .toggle {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
  }

  .toggleBtn {
    font-weight: $font-medium;
    font-size: 16px;
    line-height: 24px;
    color: #171717;
    background: #fff;
    border: none;
    padding: 10px 38px;
    cursor: pointer;
  }

  & .active {
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  }

  .cards {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
  }
}