@import '../variables.scss';

.answers {
  &__content {
    padding: 96px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  &__title {
    font-weight: $font-semi-bold;
    font-size: 48px;
    line-height: 48px;
    color: #171717;
    margin-bottom: 64px;
  }

  &__icon {
    display: flex;
    justify-content: start;
    margin-bottom: 16px;
    gap: 12px;
    overflow: hidden;
  }

  &__text {
    font-weight: $font-regular;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
  }

  &__forms {
    margin-top: 48px;
  }

  &__form {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
    margin-bottom: 16px;
    position: relative;
  }

  &__info {
    width: 592px;
    height: 460px;
  }

  &__form-input-wrap {
    position: relative;
    display: flex;
    align-items: center;
  }

  input {
    background-color: #FAFAFA;
    max-width: 334px;
    width: 100%;
    height: 40px;
    padding: 10px 38px 10px 14px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin: 0;
    color: #171717;
    font-weight: $font-regular;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.3s ease;

    &::placeholder {
      color: #737373;
    }
  }

  .input.focused {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(68, 76, 231, 1),
      0px 1px 2px 0px rgba(16, 24, 40, 0.5),
      0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    outline: blue;
  }

  .input.error {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(217, 45, 32, 1),
      0px 0px 0px 4px rgba(217, 45, 32, 0.12);
    outline: red;
  }

  .input-icon {
    position: absolute;
    right: 10px;
    color: #A3A3A3;
  }

  .icon-error {
    color: #DC2626;
  }

  .hint-text {
    color: #737373;
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-regular;
    position: absolute;
    top: 40px;
  }

  .error-message {
    color: #DC2626;
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-regular;
    position: absolute;
    top: 40px;
  }

  &__btn[type='submit'] {
    height: 40px;
    max-width: 98px;
    width: 100%;
    padding: 10px 16px;
    font-weight: $font-medium;
    font-size: 14px;
    line-height: 20px;
  }

  &__form-safely-text {
    font-weight: $font-regular;
    font-size: 16px;
    line-height: 24px;
    color: #525252;
  }

  &__img {
    width: 592px;
  }
}