@import '../variables.module.scss';

.hero {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 96px;
  }

  .content {
    max-width: 488px;
  }

  .title {
    font-weight: $font-semi-bold;
    font-size: 60px;
    line-height: 60px;
    color: #171717;
    margin-bottom: 24px;
  }

  .description {
    font-weight: $font-regular;
    font-size: 20px;
    line-height: 28px;
    color: #525252;
    margin-bottom: 64px;
  }

  .btnWrap {
    display: flex;
    gap: 32px;
  }

  .imgWrap {
    width: 100%;
  }
}